<div class="col m9">
  <div class="items">
    <h1>Cart</h1>
  </div>
  <table class="bordered">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th>Item Name</th>
        <th colspan="2">Quantity</th>
        <th>Description</th>
        <th>Price per day</th>
      </tr>
    </thead>
    <tbody>
    <% if @cart.items.empty? %>
      <% else %>
    <% @items.each do |item| %>
      <tr id="item_row_<%= item.id %>">
        <td><%= image_tag(item.image_url, class: 'item_cart') %></td>
        <td><%= item.name %></td>
        <%= form_tag cart_item_path(item), method: :patch do %>
        <td>
          <%= text_field_tag :quantity, "#{@cart.quantity_of(item.id)}", id: 'quantity-field' %>
        </td>
        <td><%= submit_tag "Update", class: 'btn blue btn-small btn-margin'%></td>
        <% end %>
        <td><%= item.description %></td>
        <td>$<%= @cart.subtotal(item.id, item.price) %> per day</td>
        <td> <%= link_to "Remove", cart_item_path(item), method: :delete %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col m4 offset-m8">
      <table class="bordered centered">
        <tr id="num_of_days">
          <%= form_tag cart_quantity_path, method: :patch do %>
          <td>
            <%= text_field_tag :days, "#{@cart.number_of_days}", id: 'days-field' %>
          </td>
          <td><%= submit_tag "Update", class: 'btn blue btn-small btn-margin' %></td>
          <td>Rent for <%= @cart.number_of_days %> days</td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class='cart_total'>Total: <strong>$<%= @cart.total_price %></strong></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <% if current_user %>
    <%= button_to "Checkout", user_rentals_path(@user), class: 'btn blue' %>
  <% else %>
    <%= button_to "Checkout", login_path, method: :get, class: 'btn blue' %>
  <% end %>
</div>
  <% end %>
