<table class="bordered">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Price per day</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= image_tag(item.image_url, class: 'item_cart') %></td>
      <td><%= item.name %></td>
      <td><%= @cart.quantity_of(item.id) %>
      <td><%= item.description %></td>
      <td>$<%= item.price %> per day</td>
      <td> <%= link_to "Remove", cart_item_path(item), method: :delete %>
    </tr>
  <% end %>
  <tr>
    <td colspan="4"></td>
    <td class='cart_total'>Total: <strong>$<%= @total_price %></strong></td>
  </tr>
  </tbody>
</table>
