<div class="col m9 top-margin">
  <h3>New Item</h3>
  <%= form_for(@item, html: {multipart: true}, url: admin_item_path(@item)) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {}, {class: "browser-default", id: "categorySelect"} %>
    <%= f.label :brand_id %>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, {}, {class: "browser-default", id: "brandSelect"} %>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
    <%= f.submit "Update Item" %>
  <% end %>
</div>
