<div class="col m9 small-top-margin">
<h3 class="center">Admin Dashboard</h3>
<div class="row">
  <div class="small-top-margin center">
    <div class="col m3">
      <%= button_to "New Item", new_admin_item_path, method: :get, class: 'btn blue dash-btn-big' %>
    </div>
    <div class="col m3">
      <%= button_to "View Items", admin_items_path, method: :get, class: 'btn blue dash-btn-big' %>
    </div>
    <div class="col m3">
      <%= button_to "New Category", new_admin_category_path, method: :get, class: 'btn blue dash-btn-big' %>
    </div>
  </div>
</div>
  <h5 class="small-top-margin center">Bids</h5>
  <table class="bordered highlight">
    <thead>
      <tr>
        <th>Item Id</th>
        <th>Latest Bid Date</th>
        <th>Status</th>
        <th>Your Last Bid Price</th>
        <th>Latest Bid Price</th>
      </tr>
    </thead>
    <tbody>
      <% @user.active_bids.each do |item| %>
        <tr>
        <td><%= link_to item.name, item_path(item.id), class: 'black-text' %> </td>
        <td><%= item.created_at.strftime("%B %d, %Y") %></td>
        <td><center>Active</center></td>
        <td> <center>$ <%= @user.last_bid(item) %></center></td>
        <td> <center>$<%= item.current_bid %></center></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
