<% if current_user %>
  <% if !@item.is_open %>
  <small class="item_no">Item no longer available.</small><br>
  <%= button_to('Bid!', '#', disabled: true, class: 'btn blue disabled') %>
  <% else %>
    <%= form_for(BidHistory.new) do |f| %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="row">
        <div class="col m4">
          <%= f.number_field :bid_amount, min: (@item.current_bid + 1), placeholder: 'Bid', id: "bid_amount" %>
        </div>
      </div>
      <%= f.submit "Bid!", class: 'btn black' %>
    <% end %>
  <% end %>
<% else %>
  <a class="modal-trigger waves-effect waves-light btn" href= '/login' >Bid!</a>
<% end %>
