<div class="col m4 item" id="item_<%= item.id %>">
  <h5><%= link_to(item.name, item_path(item)) %></h5>
  <%= link_to(image_tag(item.image_url), item_path(item), id: "image_#{item.id}") %>
  <p><%= item.description %></p>
  <p>Price per day: <strong>$<%= item.price %></strong></p>
  <%= button_to "Add to Cart", cart_items_path(id: item.id), class: 'btn blue' %>
</div>
