<% if current_admin? %>
  <div class="collection with-header status_counts">
    <h5 class="collection-header"> Admin Options </h5>
    <%= render partial: 'partials/rental_sidenav' if @admin_dash %>
    <h6 class="collection-header bold"> Items </h6>
    <%= link_to "Create New Item", new_admin_item_path, class: 'collection-item' %>
    <%= link_to "Create New Category", new_admin_category_path, class: 'collection-item' %>
    <%= link_to "Create New Brand", new_admin_brand_path, class: 'collection-item' %>
    <%= link_to "Show All Rentals", admin_dashboard_path, class: 'collection-item' %>
  </div>
<% end %>

<div class="collection with-header">
  <h5 class="collection-header"> Categories </h5>
  <% categories.each do |category| %>
    <%= link_to category.name, "/#{category.slug}", class: 'collection-item'%>
  <% end %>
</div>

<div class="collection with-header">
  <h5 class="collection-header"> Stores </h5>
  <% stores.each do |store| %>
    <%= link_to store.name, store_path(store), class: 'collection-item'%>
  <% end %>
</div>
