<div class="col m9">
  <div class="row">
    <div class="col m6 offset-m3 top-margin">
      <h4>Create Account</h4>
      <%= form_for(@user) do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Create Account", class: 'btn blue' %>
      <% end %>
    </div>
  </div>
</div>
