<div class="col m9">
  <center><h4>User Dashboard</h4></center>
  <div class="row">
  <div class="col m2"><br>
    <img src="<%=@user.image_url%>", id="user-image">
    <h4><%= @user.first_name %></h4>
    <p><br><br>
      <%= @user.bio %>
    </p>
  </div>
  <div class="col m9 offset-m1">

<h4 class="center small-top-margin">Active Bids</h4>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Item Id</th>
      <th>Latest Bid Date</th>
      <!-- <th>Status</th> -->
      <th colspan="1"></th>
      <th>Your Last Bid Price</th>
      <th>Latest Bid Price</th>
    </tr>
  </thead>
  <tbody>
    <% @user.active_bids.each do |item| %>
      <tr>
      <td><%= link_to item.name, item_path(item.id), class: 'black-text' %> </td>
      <td><%= item.created_at.strftime("%B %d, %Y") %></td>
      <td>Active</td>
      <td>$ <%= @user.last_bid(item) %></td>
      <td> $<%= item.current_bid %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h4 class="center small-top-margin">Past Orders</h4>

<!-- table.... -->
</div>
