<div class="col m9">
  <div class="row">
    <h4>Hello <%= @user.first_name %>!</h4>
  </div>  
  <div>
    <%= image_tag(@user.image_url) %>
  </div>
  <div>
    <%= @user.bio %>
  </div>
</div>

<h4 class="center small-top-margin">Active Bids</h4>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Item Id</th>
      <th>Latest Bid Date</th>
      <!-- <th>Status</th> -->
      <th colspan="1"></th>
      <th>Your Last Bid Price</th>
      <th>Latest Bid Price</th>
    </tr>
  </thead>
  <tbody>
    <% @user.active_bids.each do |item| %>
      <tr>
      <td><%= link_to item.name, item_path(item.id), class: 'black-text' %> </td>
      <td><%= item.created_at.strftime("%B %d, %Y") %></td>
      <td>Active</td>
      <td>$ <%= @user.last_bid(item) %></td>
      <td> $<%= item.current_bid %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h4 class="center small-top-margin">Past Orders</h4>

<!-- table.... -->
