<div class="col m9 top-margin">
  <h4>Rental #<%= @rental.id %></h4>
  <table class="bordered">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @rental.items.each do |item| %>
      <tr id="rental_item_row_<%= item.id %>">
        <td><%= image_tag(item.image_url, class: 'item_cart') %></td>
        <td>
          <%= link_to item.name, item_path(item) %><br>
          <% if item.retired %>
            <small class='item_no'>Item no longer available</small>
          <% end %>
        </td>
        <td><%= item.quantity_of_rental_item(@rental.id) %></td>
        <td>$<%= item.subtotal_of_rental_item(@rental) %></td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td>Status: <strong><%= @rental.status %></strong></td>
        <td>Rental Length: <%= @rental.days_rented %> days</td>
        <td>Total: $<%= @rental.total_price %></td>
      </tr>
    </tbody>
  </table>
  <div class="row small-top-margin">
    <div class="col m6">
      <p class="bottom-border">Order placed at: <%= @rental.created_at.in_time_zone(-7).strftime("%I:%M%p - %m/%d/%Y") %></p>
      <p class="bottom-border">Updated at: <%= @rental.updated_at.in_time_zone(-7).strftime("%I:%M%p - %m/%d/%Y") %></p>
    </div>
    <div class="col m6">
      <p class="bottom-border">Ordered by: <strong><%= @rental.user.first_name %> <%= @rental.user.last_name %></strong></p>
      <p class="bottom-border">Address: <strong><%= @rental.user.addresses.first.formatted_address %></strong></p>
    </div>
  </div>
</div>
