<div class="col m9"><br>
  <center><h1 class="white-text"> Store's Items</h1></center>
  <div class="card">
    <table class="bordered">
      <thead>
        <tr>
          <th colspan="1"></th>
          <th>Name</th>
          <th>Description</th>
          <th>Latest Bid Price</th>
          <th>Closing Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr id="row_item_<%= item.id %>">
          <td><%= image_tag(item.image_url, class: 'item_cart') %></td>
          <td>
            <%= link_to item.name, item_path(item) %><br>
            <% if !item.active %>
              <small class='item_no'>Item no longer available</small>
            <% end %>
          </td>
          <td><%= item.description %></td>
          <td>$ <%= item.current_bid %></td>
          <td><%= item.auction_close_time.strftime('%B, %d') %></td>
          <td><%= button_to "Edit", edit_platform_admin_item_path(item, id: item.store.slug), method: :get, class: 'btn btn-small blue' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
