<br><br>
<h3><%= @item.name %></h3>
<div class="row">
  <div class="col m4">
    <%= image_tag(@item.image_url, class: 'item_show') %>
  </div>
<br><br>
  <div class="col m4 offset-m1">
    <p><%= @item.description %></p>
    <p>Current Bid: $<%= @item.current_bid %></p>
    <p>Time Remaining: --- </p><br><br>
    <% if !@item.active %>
      <small class="item_no">Item no longer available</small><br>
      <%= button_to('Bid!', cart_items_path(id: @item.id), disabled: true, class: 'btn blue disabled') %>
    <% else %>
      <%= button_to('Bid!', cart_items_path(id: @item.id), class: 'btn blue') %>
    <% end %>
  </div>
</div>
