<br><br>
<div class="row top-margin">
  <div class="col m4">
    <%= image_tag(@item.image_url, class: 'item_show') %>
  </div>
<br><br>
  <div class="col m4">
    <h3><%= @item.name %></h3>
    <p><%= @item.description %></p>
    <p>$<%= @item.price %> per day</p>
    <% if @item.retired %>
      <small class="item_no">Item no longer available</small><br>
      <%= button_to('Add to cart', cart_items_path(id: @item.id), disabled: true, class: 'btn blue disabled') %>
    <% else %>
      <%= button_to('Add to cart', cart_items_path(id: @item.id), class: 'btn blue') %>
    <% end %>
  </div>
</div>
