<br><br>
<h3 class="white-text"><%= @item.name %></h3>
<div class="row">
  <div class="card">
    <div class="col m4">
      <%= image_tag(@item.image_url, class: 'item_show') %>
    </div>
    <br><br>
    <div class="col m7 offset-m1">
      <p><em>"<%= @item.description %>"</em></p><br><br>
      <p><b>This auction closes on: <%= @item.auction_close_time.strftime('%B, %d') %> at <%= @item.auction_close_time.strftime('%r') %>.</b></p><br><br>

      <p>Current Bid: $<%= @item.current_bid %></p><br>

      <td>
        <%= render partial: 'partials/bidform' %>
      </td><br>
    </div>
  </div>
</div>
