<div class="items">
  <% @items.each do |item| %>
    <div id="item_<%= item.id %>">
      <%= item.name %>
      <%= image_tag(item.image_url) %>
      <%= item.description %>
      <%= item.price %>
    </div>
  <% end %>
</div>
