<!DOCTYPE html>
<html>
<head>
  <title>LensLease</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down logo">
        <a href="/" class="brand-logo center"><%= image_tag('lens-lease-logo')%></a>
        <li><a href="/items">Items</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="right">
        <li><%= link_to "View Cart", cart_path %></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |type, msg| %>
      <%= content_tag :p, msg, class: "flash_#{type}" %>
      <% end %>
    <%= yield %>
  </div>

</body>
</html>
