<!DOCTYPE html>
<html>
<head>
  <title>LensLease</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <a href="/" class="brand-logo center black-text">Lense-Lease</a>
        <li><a href="/items">Items</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="right">
        <li><%= link_to "View Cart", cart_path %></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |type, msg| %>
      <%= content_tag :p, sanitize(msg), class: "flash_#{type}" %>
      <% end %>
    <div class="row">
      <div class="sidebar col m3">
        <%= render partial: 'partials/sidenav' %>
      </div>
    <%= yield %>
    </div>
  </div>
</body>
</html>
