<!DOCTYPE html>
<html>
<head>
  <title>LensLease</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <a href="/" class="brand-logo center black-text">Lens-Lease</a>
        <li><a href="/items">Items</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="right">
        <% if current_user %>
          <li><%= link_to "View Cart", cart_path %></li>
          <li class="black-text">Logged in as: <%= current_user.username %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li><%= link_to "View Cart", cart_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |type, msg| %>
      <%= content_tag :p, sanitize(msg), class: "flash_#{type}" %>
      <% end %>
    <div class="row">
      <div class="sidebar col m3">
        <%= render partial: 'partials/sidenav' %>
      </div>
    <%= yield %>
    </div>
  </div>
</body>
</html>
